---
layout: default
title: Home
---
<h1>XM Front-End Development Guidelines and Documentation</h1>
<hr/>
<div class="posts">
  hello!
  Guidelines:
  <ol>
    <div class="post">
      {% for post in paginator.posts %}
      <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h4>
        <span class="post-date small">{{ post.date | date_to_string }}</span>
      </li>
      {% endfor %}
    </div>
  </ol>
</div>
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->

<!--<section>
  <h4>Built with:</h4>
  <div id="opensource-logo">
    <p>
      <a class="open-source__sass" href="http://sass-lang.com" title="Visit the Sass homepage"><span class="is-hidden">Sass</span></a>
      <a class="open-source__node" href="http://nodejs.org" title="Visit the NodeJS homepage"><span class="is-hidden">NodeJS</span></a>
      <a class="open-source__gulp" href="http://gulpjs.com" title="Visit the Gulp homepage"><span class="is-hidden">Gulp</span></a>
      <a class="open-source__handlebars" href="http://handlebarsjs.com" title="Visit the HandlebarsJS homepage"><span class="is-hidden">Handlebars</span></a>
    </p>
  </div>
</section>-->
