<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <a class="site-title" href="{{ site.baseurl }}/">
            <img src="data:image/svg+xml;base64,PHN2Zz4KICAgIDxnPgogICAgICAgIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik04NDEuODksMC40NDJ2NDA4Ljg0M2gtNzMuMjFWMTM0Ljk1TDYyNS45MzMsNDA5LjE2OGwwLjAzLDAuMDU5aC0wLjA1OWgtNzAuMDExaC0wLjA4OGwwLjA0NC0wLjA4OQogICAgbC0xNDIuODItMjc0LjMxM3YyNjMuNTI0TDI1OS44MzMsMjA0Ljk4MUw0MTUuMDE5LDQuMDIzTDU5MC44ODQsMzQxLjg0TDc2OC42OCwwLjM2OGg3MC4wNTVsLTAuMDQ1LDAuMDc0SDg0MS44OXogTTQwMi40MzMsMAogICAgaC04My4xNTdMMjA2LjUxNSwxNDQuNDEyTDkzLjc1NCwwSDBsMTU5LjYzNywyMDQuNDUyTDAsNDA4LjkwMmg5My43NTRMMjA2LjUxNSwyNjQuNDlsMTEyLjc2MSwxNDQuNDEyaDg2LjI3NEwyNDQuMDg0LDIwNS4wNDgKICAgIEw0MDIuNDMzLDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPg==" alt=""/>

        </a>
            <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://github.com/mdo/hyde/archive/v{{ site.version }}.zip">Download</a>
            </li>
            <li>
              <a href="https://github.com/xm-richmedia">GitHub project</a>
            </li>
            <li>Currently v{{ site.version }}</li>
          </ul>
          <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
